//history section
.historia-container {
  margin-top: $margin-top;
}

.balsa-img {
  width: 738px;
  height: 416px;
  object-fit: $object-fit;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.historia-info-2 {
  padding-left: 4%;
}
.inauguracion-img {
  width: 630px;
  height: 309px;
  object-fit: $object-fit;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

//organizacion section
.modelo-organizacion-container {
  img {
    @include orgImg;
  }
  span {
    @include orgSpan;
  }
  h2 span {
    animation-range-start: cover 10vh;
    animation-range-end: cover 60vh;
  }
  h4 span {
    animation-range-start: cover 20vh;
    animation-range-end: cover 60vh;
  }
  p span {
    animation-range-start: cover 37vh;
    animation-range-end: cover 65vh;
  }
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}

//director section
.foto-director {
  width: 305px;
  height: 282px;
  object-fit: $object-fit;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

//socios section
.socios {
  padding: 20px;
  margin-bottom: 250px;
  img {
    width: 100%;
    height: 282px;
  }
}
