$natural-900 : #1a202c;
$natural-700 : #4a5468;
$natural-600 : #718096;
$natural-500 : #a0aec0;
$natural-400: #cbd2e0;

$border-radius: 15px;
$margin-top: 250px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
$object-fit: cover;

$mqh1-font-size: 32px;
$mqh2-font-size: 24px;
$mqh3-font-size: 22px;
$mqh4-font-size: 20px;
$mqp-font-size: 16px;