/*RESETEAMOS LOS PADDINGS Y MARGENES*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  overflow-x: hidden;
}
/*ESTILOS GLOBALES de TEXTO*/

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
}
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}
h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
}
h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}
h6 {
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}

.body-xl {
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
}

.body-l {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.body-m {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.body-s {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.body-xs {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.bold-m {
  font-size: 16px;
  font-weight: 600;
}

.bold-s {
  font-size: 14px;
  font-weight: 600;
}

.bold-xs{
  font-size: 12px;
  font-weight: 600;
}


/*COLORES GLOBALES para TEXTO*/

.natural-900 {
  color: #1a202c;
}
.natural-700 {
  color: #4a5468;
}
.natural-600 {
  color: #717d96;
}
.natural-500 {
  color: #a0abc0;
}
.natural-400 {
  color: #cbd2e0;
}
/*-----------------------------------------------------------*/
/* MARGIN TOP  */
.mt250 {
  margin-top: 250px;
}
/*-----------------------------------------------------------*/
/* BUTTON PRIMARY  */
.button-primary {
  position: relative;
  padding: 10px;
  border-radius: 100vw;
  background-color: blue;
  color: white;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.button-primary .button-text {
  position: relative;
  z-index: 2;
}
.button-primary .fill-container {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding-bottom: 100%;
  transform: translateY(-50%) rotate(180deg);
}
.button-primary .fill-container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(-100%);
}
.button-primary a{
  text-decoration: none;
  color: white;
}
.button-primary:hover a{
  color: blue;
}
.button-primary:hover {
  border-color: white;
  transform: translateY(-4px);
}
.button-primary:hover .fill-container {
  transform: translateY(-50%) rotate(0);
}
.button-primary:hover .fill-container::after {
  transform: translateY(0);
}
/*-----------------------------------------------------------*/
/* BUTTON SECONDARY  */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button a{
  text-decoration: none;
}

button.learn-more {
  width: 13rem;
  height: auto;
  color: blue;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: blue;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text a{
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}
button:hover .circle {
  width: 100%;
}
.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.learn-more:hover .button-text a{
  color: #fff;
}

/*-----------------------------------------------------------*/
/* ESTILOS NAVBAR */
.dropdown-menu{
  border: none;
  background: transparent;
}

.form-select{
  width: 65px;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.sidebar .offcanvas-header button{
  padding-right: 80px;
}

@media (max-width: 1024px) {
    .form-select{
      margin-top: 20px;
      font-size: 18px;
      width: 80px;
  }
  .offcanvas-body .navbar-nav a{
    font-size: 26px;
  }
  .offcanvas-body .dropdown a {
    padding-left: 9px;
    }
  .sidebar{
    background-color: rgba(255, 255, 255, 0.837);
    backdrop-filter: blur(10px);
  }
}

@media(max-width:576px){
  .sidebar .offcanvas-header button {
  padding-right: 40px;
}
}

/*-----------------------------------------------------------*/
/* INDEX PAGE hero section */
.hero-container {
  margin: 200px auto;
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -100px;
}

@keyframes fade-out{
  to {opacity: 0;}
}

.heroimg {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media(max-width:990px) { 
  .hero-container{
    margin: 120px auto;
    text-align: end;
  }
  .hero-container .button-primary{
    margin-bottom: 20px;
    align-self: flex-end;
    width: 120px;
  }
}

@media(max-width:576px) { 
  .hero-info {
    text-align: center;
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.5)), url("/assets/fotos/Home/heroimg.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .hero-container {
    margin-top: 60px;
  }
  .hero-container p {
    font-size: 16px;
  }
  .hero-container h1 {
    font-size: 32px;
  }
  .hero-container .button-primary{
    width: 110px;
    font-size: 12px;
    align-self: center;
  }
  .hero-container img{
    display: none;
  }
}

/*-----------------------------------------------------------*/
/*INDEX PAGE servicios section*/
.servicios-container {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.servicios-info {
  display: flex;
  padding: 20px;
  width: 30%;
  flex-direction: column;
  justify-content: center;
}

.servicios-info p {
  width: 90%;
  padding-top: 16px;
  padding-bottom: 30px;
}

.box-container {
  display: flex;
  width: 60%;
  padding: 20px 0px 20px 20px;
  box-sizing: border-box;
  height: 60vh;
}

.box-container .box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
  border-radius: 15px;
}

.box-container .box img {
  width: 200%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.box-container .box:hover {
  flex: 1 1 50%;
}

.box-container .box:hover img {
  width: 100%;
  height: 100%;
}

@media(max-width:1024px) {

  .servicios-info{
    width: 100%;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
  }
  .box-container{
    width: 100%;
    margin-right: 20px;
  }
  .servicios-info .btn{
    width: 140px;
  }
}

@media(max-width:576px){
  .servicios-info h3{
    font-size: 24px;
  }
  .servicios-info p{
    font-size: 16px;
  }
  .servicios-info .btn{
    width: 130px;
    font-size: 12px;
  }
  .box-container{
    flex-direction: column;
    padding: 20px;
  }
  .box-container .box{
    margin-bottom: 20px;
  }
}

/*-----------------------------------------------------------*/
/*INDEX PAGE experiencia section*/
.experiencia-container {
  margin-top: 25vh;
  display: flex;
}

.experiencia-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  width: 100%;
  order: 2;
}

.experiencia-info p {
  width: 70%;
  padding-top: 16px;
  padding-bottom: 30px;
}

.experiencia-info .btn {
  width: 120px;
}

.experiencia-container > img {
  order: 1;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  scale: .8; opacity:0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 250px 500px;
}

@keyframes fade-in{
  to {scale: 1; opacity: 1;}
}

@media(max-width:1024px) {
  .experiencia-container{
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .experiencia-container img{
    border-radius: 0px;
    width: 60%;
    align-self: flex-start;
    height: 300px;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1); ;
  }
  .experiencia-info{
    padding: 40px;
    padding-bottom: 0px;
    text-align: end;
    width: 80%;
  }
  .experiencia-info p{
    width: 100%;
  }
  .experiencia-info .btn {
    width: 110px;
    align-self: flex-end;
  }
}

@media(max-width:576px){
  .experiencia-container img{
    height: 250px;
    width: 100%;
  }
  .experiencia-info {
    width: 100%;
    padding-bottom: 40px;
  }
  .experiencia-info h3{
      font-size: 24px;
  }
  .experiencia-info p{
    font-size: 16px;
}
.experiencia-info .btn{
  font-size: 12px;
}
}

/*-----------------------------------------------------------*/
/*INDEX PAGE estadisticas section*/
.estadisticas-container {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.estadisticas-container img {
  height: 50vh;
  width: 100%;
  margin-top: 26px;
  object-fit: cover;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width:576px){
  .estadisticas-container h3{
    font-size: 24px;
  }
  .estadisticas-container img{
    height: 250px;
  }
}

/*-----------------------------------------------------------*/
/*INDEX PAGE clientes section*/
.clientes-container {
  margin-top: 25vh;
  width: 100%;
  height: 80vh;
}

.clientes-container h3 {
  text-align: center;
}

.slider-clientes {
  height: 600px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 26px 32px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__contents img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
.slider__image {
  font-size: 2.7rem;
  color: #2196f3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@media(max-width:576px){
  .clientes-container h3{
    font-size: 24px;
  }
  .slider-clientes{
    height: 500px;
  }
  .slider__contents img {
    width: 300px;
    height: 200px;
  }
}


/*-----------------------------------------------------------*/
/*FOOTER section*/
.footer-list{
  display: flex;
  justify-content: space-evenly;
  margin:  auto;
  margin-top: 100px;
  padding: 20px;
  width: 100%;
  background-color: #cbd2e0;
}

.footer-container a{
  text-decoration: none;
}
.footer-container ul{
  text-align:  center;
  padding-left: 0px;
}

.footer-container h6{
  padding-bottom: 8px;
}

.footer-container ul li{
  list-style: none;
  padding: 4px 0px;
}

@media (max-width:1024px){
  .footer-container ul{
    padding-left: 0px;
  }
  .footer-container li {
    display: none;
  }
  .footer-container a{
    text-decoration: none;
  }
}

@media (max-width:576px){
  .footer-list{
    display: inline-block;
  }
  .footer-list li {
    display: none;
  }
}

.final-line{
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  width: 100%;
  margin: auto;
  background-color: #cbd2e0;
}

.final-line span{
  margin: 0px 40px;
}

.final-line img{
  width: 120px;
  height: auto;
}

@media (max-width:1024px){
  .final-line {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .final-line .mid-item{
    order:5 ;
  }
}

@media (max-width:576px){
  .final-line img{
    width: 80px;
}
}

/*-----------------------------------------------------------*/
/*NOSOTROS PAGE*/
/* NOSOTROS PAGE historia section*/
.historia-container{
  margin-top: 15vh;
}

.balsa-img {
  width: 738px;
  height: 416px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.historia-info-2{
  padding-left: 4%;
}
.inauguracion-img {
  width: 630px;
  height: 309px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width:1024px){
  .historia-info-1 {
    display: inline-flex;
    padding: 0;
  }
  .balsa-img{
    width: 90%;
  }
  .inauguracion-img{
    display: none;
  }
}

@media (max-width:576px){
  .historia-container{
    width: 80%;
    margin: auto;
  }
  .historia-container h2 {
    font-size: 24px;
    width: 100%;
    margin-top: 15vh;
  }
  .historia-container h4 {
    font-size: 20px;
  }
  .historia-container p{
    font-size: 14px;
  }
  .historia-info-2 {
    width: 100%;
    padding: 0px;
  }
}

/*-----------------------------------------------------------*/
/* NOSOTROS PAGE organizacion section*/
.modelo-organizacion-container img {
  width: 1000px;
  height: 754px;
  object-fit: cover;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  scale: .8; opacity:0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 250px 500px;
}
.modelo-organizacion-container span{
  color: hsl(0 0% 100% / 0.2);
  background-clip: text;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg,rgb(41, 41, 41),blue);
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
}
.modelo-organizacion-container h2 span{
  animation-range-start: cover 10vh;
  animation-range-end: cover 60vh;
}
.modelo-organizacion-container h4 span{
  animation-range-start: cover 20vh;
  animation-range-end: cover 60vh;
}
.modelo-organizacion-container p span{
  animation-range-start: cover 37vh;
  animation-range-end: cover 65vh;
}

@keyframes scroll-reveal{
  to {
      background-size: 100% 100%;
  }
}



@media (max-width:1024px){
  .modelo-organizacion-container img{
    scale: 0.75 !important;
  }
}

@media (max-width:576px){
  .modelo-organizacion-container{
    padding: 0px;
  }
  .modelo-organizacion-container img{
    scale: 0.35 !important;
  }
  .modelo-organizacion-container h2 {
    font-size: 24px;
  }
  .modelo-organizacion-container h4 {
    font-size: 20px;
  }
  .modelo-organizacion-container p {
    font-size: 14px;
    width: 80%;
    margin: auto;;
  }
}

/*-----------------------------------------------------------*/
/* NOSOTROS PAGE director section*/
.foto-director {
  width: 305px;
  height: 282px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width:1024px){
  .direccion-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .direccion-container img {
    margin-bottom: 10px;
}
}

@media (max-width:576px){
  .filosofia-container{
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .info-nosotros-container{
    flex-direction: column;
    width: 90%;
    justify-content: center;
  }
  .politica-container {
    margin-top: 90px;
  }
}

/*-----------------------------------------------------------*/
/* NOSOTROS PAGE socios section*/
.socios {
  padding: 20px;
  margin-bottom: 250px;
}

.socios img {
  width: 100%;
  height: 282px;
}


/*-----------------------------------------------------------*/
/* SERVICIOS PAGE*/
/* SERVICIOS PAGE ventajas section*/
.ventajas-container {
  margin-top: 15vh;
}
.ventajas-info{
  margin: 0px 80px;
}

.ventajas-img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px
}
.ventajas-container .instalaciones-1 {
  width: 844px;
  height: 309px;
  object-fit: cover;
}
.ventajas-container .instalaciones-2 {
  width: 413px;
  height: 309px;
  object-fit: cover;
}
.ventajas-container .instalaciones-3 {
  width: 413px;
  height: 309px;
  object-fit: cover;
}
.ventajas-container .instalaciones-4 {
  width: 630px;
  height: 309px;
  object-fit: cover;
}
@media (max-width:1024px){
  .ventajas-container .instalaciones-1,
  .ventajas-container .instalaciones-4 {
    width: 80%;
    max-height: 300px;
  }
  .ventajas-container .instalaciones-2{
    width: 350px;
    max-height: 300px;
  }
  .ventajas-container .instalaciones-3{
    width: 350px;
    max-height: 300px;
  }
}

@media (max-width:576px){
  .ventajas-info {
    width: 90%;
    margin: auto
  }
  .ventajas-info h2 {
    font-size: 24px;
  }
  .ventajas-info h4 {
    font-size: 20px;
  }
  .ventajas-info p {
    font-size: 14px;
  }
  .ventajas-container .instalaciones-1,
  .ventajas-container .instalaciones-2, 
  .ventajas-container .instalaciones-3,
  .ventajas-container .instalaciones-4 {
    width: 100%;
  }
}

/*-----------------------------------------------------------*/
/* SERVICIOS PAGE organismos section*/
.organismos-arg-container li,
.organismos-br-container li {
  list-style: none;
}

.horarios p {
  margin-bottom: 0px;
} 

@media (max-width:1024px){
  .listas-organismos {
    flex-direction: column;
  }
}

@media (max-width:576px){
  .organismos-container{
    margin: 0 auto;
  }
  .organismos-container h2{
    font-size: 24px;
  }
  .organismos-container p{
    font-size: 14px;
  }
  .organismos-container ul li{
    font-size: 14px;
  }
}

/*-----------------------------------------------------------*/
/* SERVICIOS PAGE transito vecinal section*/
.vecinal-container {
  margin-bottom: 250px;
}
.vecinal-container img {
  width: 492px;
  height: 387px;
}
.vecinal-container ul li  {
  list-style: none;
}

@media (max-width:1024px){
  .vecinal-container{
    width: 90%;
    margin: auto;
    margin-bottom: 250px;
  }
  .vecinal-container img {
    display: none !important;
  }
}

@media (max-width:576px){
  .infotvf-container h2{
    font-size: 24px;
  }
  .infotvf-container p{
    font-size: 14px;
  }
  .infotvf-container ul li{
    font-size: 14px;
  }
}

/*-----------------------------------------------------------*/
/*ADUANA PAGE*/
/* ADUANA PAGE informacion section*/
.info-aduana-container {
  margin-top: 15vh;
}

/*-----------------------------------------------------------*/
/* ADUANA PAGE despachantes section*/
.despachantes-container .despacantes-cards  img{
  display: block;
  max-width: 100%;
  height: auto;
}

.despachantes-container{
  display: grid;
  place-items: center;
}

.despachantes-cards{
  display: flex;
  gap: 100px;
  align-items: center;
}

.card__article{
  position: relative;
}

.card__img{
  width: 328px;
  border-radius: 15px;
}

.card__data {
  width: 280px;
  background-color: #fff;
  padding: 1.5rem 1rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description{
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.card__title{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 4px;
}

.card__button{
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.card__button:hover{
  text-decoration: underline;
}

.card__article:hover .card__data{
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover{
  animation: remove-overlow 2s forwards;
}

.card__article:not(:hover){
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data{
  animation: remove-data 1s forwards;
}

@keyframes show-data{
  50%{
      transform: translateY(-10rem);
  }
  100%{
      transform: translateY(-7rem);
  }
}

@keyframes remove-overflow{
  to{
      overflow: initial;
  }
}

@keyframes remove-data{
  0%{
      transform: translateY(-7rem);
  }
  50%{
      transform: translateY(-10rem);
  }
  100%{
      transform: translateY(.7rem);
  }
}

@keyframes show-overflow{
  0%{
      overflow: hidden;
      pointer-events: none;
  }
  50%{
      overflow: hidden;
  }
}

@media (max-width:1024px){
  .despachantes-cards{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:576px){
  .info-aduana-container{
  width: 80%;
  margin: auto;
  margin-top: 15vh;
  }
  .info-aduana-container h2{
    font-size: 24px;
  }
  .info-aduana-container p{
    font-size: 14px;
  }
  .despachantes-container span h2{
    font-size: 24px;
  }
}

/*-----------------------------------------------------------*/
/*TURISMO PAGE*/
/* TURIMSO PAGE leyes section*/
.leyes-container {
  margin-top: 15vh;
}

.texto-leyes {
  column-count: 2;
}

/*-----------------------------------------------------------*/
/* TURIMSO PAGE peaje section*/
.peaje-container img {
  width: 120%;
  max-height: 435px;
  object-fit: cover;
}

/*-----------------------------------------------------------*/
/* TURIMSO PAGE hospedajes section*/
.hospedajes-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-hospedajes{
  height: 400px;
  display: flex; /* change for column in md and sm*/
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
  transition: .6s cubic-bezier(.28, -0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
  border: none;
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,212,255,0) 70%);
  padding-right: 10px;
}

.card > .row .icon{
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card .row .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description p{
  color: #fff;
}

.description h4 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.info-hospedajes input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description{
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

.card[for="c1"] {
  background-image: url('../assets/fotos/turismo/hotel1.jpg');
}

.card[for="c2"] {
  background-image: url('../assets/fotos/turismo/hotel2.jpg');
}

.card[for="c3"] {
  background-image: url('../assets/fotos/turismo/hotel3.jpg');
}

.card[for="c4"] {
  background-image: url('../assets/fotos/turismo/hotel4.jpeg');
} 

@media (max-width:1024px){
  .info-hospedajes{
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 300px;
    margin: 5px;
  }
  input:checked + label {
    height: 600px;
  }
}

@media (max-width:576px){
  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  .leyes-container{
    width: 80%;
    margin: auto;
    margin-top: 15vh;
  }
  .texto-leyes {
    column-count: 1;
  }
  .texto-leyes p,
  .info-requisitos p,
  .peaje-container p{
    font-size: 14px;
  }
  .info-requisitos,
  .peaje-container{
    width: 80%;
  }

  .peaje-container img{
    width: 150%;
  }
  .card{
    width: 100px;
    margin: 5px;
  }
  .card .row .description {
    width: 300px;
  }
  input:checked + label {
    width: 300px;
  }
  
  .casacambio-container {
    width: 80%;
    margin: auto;
  }
  .text-end {
    text-align: center !important;
  }
}

/*-----------------------------------------------------------*/
/*CONTACTO PAGE*/
/* CONTACTO PAGE formulario section*/
.formulario-container{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contacto-form{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contacto-title h2{
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5px;
}

.contacto-title hr{
  border: none;
  width: 120px;
  height: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contacto-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contacto-form textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contacto-form input:focus {
  border: 2px solid blue;
  transition: 0.2s;
}

.contacto-form textarea:focus {
  border: 2px blue solid;
  transition: 0.2s;
}

.contacto-form::placeholder{
  color: #a9a9a9a9;
}

.contacto-form button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  border: none;
  gap: 10px;
  border-radius: 50px;
  background: blue;
  cursor: pointer;
}

.contacto-form button img{
  width: 15px;
}

.contacto-img img {
  width: 500px;
  border-radius: 15px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width:1024px){
  .formulario-container .contacto-img img{
    display: none;
  }
}
@media (max-width:576px){
  .contacto-form {
    width: 80%;
  }
  .contacto-form input{
    font-size: 14px;
    margin: auto;
    width: 300px;
  }
  .contacto-form textarea{
    font-size: 14px;
    margin: auto;
    width: 300px;
  }
  .contacto-form button{
    margin-left: 10px;
  }
}
